/* Page Transition Styles */
#main-content {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#main-content.page-exit-active {
    opacity: 0;
    transform: translateY(15px);
}
